<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_qb" >
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:include filename="$(find ur_description_old)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description_old)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"  />
  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
	<xacro:arg name="namespace" default="qbhand"/>

    <link name="world" />

	<xacro:build_hand_from_yaml configuration="qbhand_left" namespace="$(arg namespace)" parent="ee">
		<origin xyz="0 0 0" rpy="0 1.57 0"/>
	</xacro:build_hand_from_yaml>

	<joint name="world_to_robot" type="fixed">
		<parent link="world" />
		<child link = "base_link" />
		<origin xyz="0 0 0.5" rpy="0.0 0.0 0.0" />
	</joint>
</robot>