<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_qb" >
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"  />
  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
	<xacro:arg name="namespace" default="qbhand"/>

    <link name="world" />
	<link name="table" />
	<link name="camera_frame">
		<visual>
			<geometry>
				<box size="0.5 1 1"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<box size="0.5 1 1"/>
			</geometry>
		</collision>
	</link>

	<xacro:build_hand_from_yaml configuration="qbhand_right" namespace="$(arg namespace)" parent="ee">
		<origin xyz="0 0 0" rpy="0 1.57 0"/>
	</xacro:build_hand_from_yaml>

	<joint name="world_to_table" type="fixed">
		<parent link="world" />
		<child link = "table" />
		<origin xyz="0 0 0.25" rpy="0.0 0.0 0.0" />
	</joint>

	<joint name="world_to_camera" type="fixed">
		<parent link="world" />
		<child link = "camera_frame" />
		<origin xyz="0.0 0.0 0" rpy="0.0 1.571 0.0" />
	</joint>
	<joint name="table_to_robot" type="fixed">
		<parent link="table" />
		<child link = "base_link" />
		<origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0" />
	</joint>

<!-- 	<joint name="ur5_to_qb" type="revolute">
		 <axis xyz="0 0 1"/>
   	    <limit effort="1000.0" lower="-6.28" upper="6.28" velocity="0.5"/>
		<parent link="ee_link" />
		<child link = "qbhand1_base_link" />
		<origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0" />
	</joint> -->

</robot>