<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_qb_new" >
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <link name="world" />
  <xacro:arg name="initial_z" default="1.0"/>
	<joint name="world_to_robot" type="fixed">
		<parent link="world" />
		<child link = "ur_base_link" />
		<origin xyz="0 0 $(arg initial_z)" rpy="0.0 0.0 0.0" />
	</joint>
	<xacro:ur5_robot prefix="ur_" joint_limited="false"/>
  
  <gazebo>
   <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <!-- <robotNamespace>ur5_qb_new</robotNamespace> -->
  </plugin>
  </gazebo>

  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
  <xacro:arg name="namespace" default="qb"/>
  <!-- <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.materials.xacro"/> -->

	<xacro:build_hand_from_yaml configuration="qbhand_left" namespace="$(arg namespace)" parent="ur_ee">
		<origin xyz="0 0 0" rpy="0 1.57 0"/>
	</xacro:build_hand_from_yaml>

<!-- 	<joint name="ee_to_robot" type="fixed">
		<parent link="ur_ee_link" />
		<child link = "qbhand1_base_link" />
		<origin xyz="0 0 0.0" rpy="0.0 0.0 0.0" />
	</joint> -->


</robot>









